*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url('https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.heading{
    font-size: 50px;
    display: flex;
    letter-spacing: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head{
    color: hotpink;
}
.ding{
    color: white;
}
.navbar{
    border-bottom: 1px solid white;
    
    /* box-shadow: 0 0px 1px 0px white; */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}
.navbar::before{
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}
.list{
    padding-left: 10px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 680px;
}
.list-item {
    list-style: none;
}
.list-item a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    letter-spacing: 2px;
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    position: relative;
    transition: 0.3s ease-in;
}
.list-item a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: red;
    transition: 0.3s ease-in;
}
.list-item a:hover::after{
    width: 100%;
}
.list-item a:hover{
    color: red;
}


/* hamburger  */
.hamburger{
    margin-top: 12px;
    display: none;
    cursor: pointer;
}
.bar{
    height: 3px;
    width: 25px;
    display: block;
    margin: 5px auto;
    background-color: hotpink;
    transition: all 0.3s ease-in-out;
}


/* home  */
.home{
    padding: 20px 20px;
    height: 700px;
    padding-top: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2016/12/29/18/44/background-1939128_960_720.jpg');
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    flex: 1;
}
.photo{
    text-align: center;
    flex: 1;
}
.photo img{
    width: 40vw;
    opacity: 0.9;
    border-radius: 50%;
    transition: 0.8s ease;
}
.photo img:hover{
    width: 41vw;
}

.name .hello{
    font-size: 2.4vw;
    letter-spacing: 2px;
    color: transparent;
    display: inline-block;
    font-family: 'Merienda', cursive;
    position: relative;
    animation: text1 0.5s forwards ease;
    animation-delay: 1s;
}
.myname{
    font-size: 6vw;
}
.name .myname{
    font-family: 'Merienda', cursive;
    color: transparent;
    display: inline-block;
    position: relative;
    animation: text2 0.5s forwards ease;
    animation-delay: 2s;
}

.name h1 span{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
    background-color: crimson;
    animation: overlay 1s forwards ease;
    animation-delay: 1.5s;
}

.name h1:nth-child(1){
    animation-delay: 1s;
}
.name h1:nth-child(3){
    animation-delay: 2s;
}

.name h1:nth-child(1) span{
    animation-delay: 0.5s;
}
.name h1:nth-child(3) span{
    animation-delay: 1.5s;
}

@keyframes overlay{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        left: 100%;
        width: 0;
    }
}

@keyframes text1{
    100%{
        color: white;
        text-shadow: 5px 5px 5px rgb(243, 182, 212);
    }
}
@keyframes text2{
    100%{
        color: hotpink;
        text-shadow: 5px 5px 5px rgb(243, 182, 212);
    }
}

.wrapper{
    display: inline-flex;
    font-size: 30px;
}

.list2{
    margin-left: 10px;
    color: hotpink;
    list-style: none;
    letter-spacing: 2px;
    font-family: sans-serif;
    height: 36px;
    min-height: 36px;
    overflow: hidden;
}

.list2 li{
    position: relative;
    margin-bottom: -0.6px;
    top: 0;
    animation: slide 8s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -135px;
    }  
}

.list2 li span{
    display: block;
    position: relative;
}
.list2 li span::after{
    content: "";
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border-left: 2px solid hotpink;
    /* background-color: black; */
    background-color: #101010;
    animation: typing 2s steps(10) infinite ;
}

@keyframes typing {
    0%,10%,100%{
        left: 0;
    }
    50%,90%{
        left: 100%;
        margin: 0 -35px 0 25px;
    }
}


/* about */

.aboutheading{
    text-align: center;
    font-size: 4vw;
}

.about{    
    background-image: url('https://i.pinimg.com/736x/94/7e/cb/947ecbc9a2570679c9e1868f615f14e6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    padding: 50px 10px;
    display: flex;
    justify-content: space-evenly;
}

.about img{
    align-self: center;
    width: 500px;
    height: 500px;
    opacity: 0.9;
    border-radius: 25px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insideabout{
    width: 700px;
    padding: 0 20px;
}

.cv{
    margin: 30px 0;
    color: red;
    border: 2px solid black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    background-color: #000070;
    margin-top: 40px;
    width: 220px;
    height: 50px;
}

.cv:hover{
    background-color: #000052;
}

.wrapset{
    text-align: center;
    padding: 10px 0;
}
.para{
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
    word-spacing: 10px;
    letter-spacing: 3px;
}


.tabsetter{
    display: flex;
}

.tab-titles{
    display: flex;
    margin: 20px 0;
}

.tab-links{
    font-family: 'Roboto Flex', sans-serif;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    color: #ff4343;
}
.tab-links::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 0;
    background-color: #ff004f;
    transition: 0.3s ease-in;
}
.tab-links.active-link::after{
    width: 70%;
}

.tab-contents ul li{
    margin: 10px 0;
    list-style: disc;
    font-family: 'Courier New', Courier, monospace;
}
.tab-contents ul li h5{
    font-weight: 100;
    
}
.tab-contents ul{
    padding: 0 20px;
}

.tab-contents{
    font-size: 18px;
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* Profile Section  */

.main-profle-section{
    /* border: 2px solid red; */
    height: 700px;
    padding: 20px 10px;
    background-image: url('https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-profle-section p{
    /* border: 2px solid greenyellow; */
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
    word-spacing: 20px;
    letter-spacing: 2px;
}

.imgsetter{
    border: 2px solid rgb(116, 116, 116); 
    
    
    height: 250px; 
    width: 250px; 
    border-radius:50%; 
}

.profile-section{
    /* border: 2px solid white; */
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
}
.probox1{
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-around;
    flex: 1;
}
.probox2{
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-around;
    flex: 1;
}


/* project  */

.project-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    /* border: 2px solid red; */
}
.project-box button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 20px ;
    background-color: #030397;
    font-size: 15px;
    color: #ff004f;
    cursor: pointer;
    text-align: center;
    justify-self: center;
    border: 2px solid black;
}
.project-box button:hover{
    background-color: #020250;
}
.mainhead{
    text-align: center;
    font-size: 50px;
    font-family: 'Itim', cursive;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.minihead{
    font-size: 30px;
    text-align: center;
    font-family:cursive;
    letter-spacing: 2px;

}
.project-box p{
    font-family: 'Roboto Flex', sans-serif;
    word-spacing: 10px;
    letter-spacing: 3px;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}

.project1{
    border: 0.51px solid white;
    border-radius: 30px;
    width: 1000px;
    margin: 10px 0px;
    /* margin: 20px auto; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profsecond{
    margin: 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.profsecond::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 20px;
    opacity: 0.2;
    z-index: -1;
}

.even{
    flex-direction: row-reverse !important;
}

.projfirst img{
    width: 200px;
    border-radius: 20px;
}

/* contact  */

.contact-box{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
    height: 600px;
    padding: 50px;
    position: relative;
}
.conbox::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    opacity: 0.15;
    border-radius: 25px;
}

.conbox p{
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px 0;
    padding: 0 40px;
    text-align: center;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icons a i{
    color: red;
    font-size: 48px;
}

.icons a i:hover{
    color: rgb(212, 0, 0);
}



@media (max-width:1220px){
    .home{
        height: 600px;
    }
}





@media (max-width:1120px) {
    .about{
        height: 800px;
    }
    .about img{
        height: 400px;
        width: 400px;
    }
    .home{
        height: 500px;
    }
    .heading{
        font-size: 40px;
    }
    .list{
        width: 600px;
    } 
    .imgsetter{
        height: 200px; 
        width: 200px; 
    }

    .project1{
        width: 800px;
    }

}

@media (max-width:934px){
    .imgsetter{
        height: 150px; 
        width: 150px; 
    }
    .about img {
        width: 350px;
        height: 350px;
    }
    .project1{
        width: 600px;
    }
     .projfirst img{
        width: 170px;
    }
    
    .minihead{
        font-size: 30px;
    }
    .project-box p{
        font-size: 18px;
    }
    .para{
        font-size: 18px;
    }
    
}

@media (max-width:830px){
    .left{
        display: none;
    }
}

@media (max-width:768px){


    /* .hello{
        font-size: 25px !important;
    }
    .myname{
        font-size: 40px !important;
    } */
    .home{
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .photo img{
        width: 300px;
    }
    .photo img:hover{
        width: 300px;
    }
    .name .hello {
        font-size: 20px;
    }
    .myname{
        font-size: 40px;
    }
    .name{
        flex: 0;
    }
    .photo{
        flex: 0;
    }
    .about{
        height: 100%;
    }
    .insideabout{
        width: 100%;
    }

    .list2 li span::after {
        background-color: #000000;
    }

    .profile-section {
        flex-direction: column;
    } 
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .list{
        position: absolute;
        z-index: 1;
        left: -100%;
        top: 69px;
        height: 250px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(40, 40, 40);
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }
    .list.active{
        left: 0;
    }

}

@media (max-width:620px){

    .conbox{
        padding: 40px 0;
        height: 100%;
    }
    .profsecond{
        flex-direction: column;
    }
    .even{
        flex-direction: column !important;
    }
    .project1{
        flex-direction: column;
        width: 400px;
    }
} 

@media (max-width: 480px) {
    .tabsetter{
        flex-direction: column;
    }
    .tab-links{
        margin: 10px 10px;
    }
    .tab-titles{
        justify-content: space-around;
    }
    .project-box{
        padding: 40px 40px;
    }
}

@media (max-width:430px){
    .heading{
        font-size: 35px;
    }
    .imgsetter{
        height: 100px; 
        width: 100px; 
    }
    .project1{
        width: 100%;
    }

    .photo img{
        width: 250px;
    }
    .photo img:hover{
        width: 250px;
    }
    .name .hello {
        font-size: 15px;
    }
    .myname{
        font-size: 30px;
    }
    .list{
        top: 61px;
    }
}



/* 
@media (max-width:430px){
    .contact-box {
        padding: 15px;
    }
    .conbox p{
        padding: 10px;
    }
    .tabsetter{
        flex-direction: column;
    }
    .hello {
        font-size: 18px !important;
    }
    .myname {
        font-size: 30px !important;
    }
    .photo img {
        width: 240px;
    }
    
    .tab-contents{
        font-size: 15px;
    }
    .tab-titles{
        justify-content: space-evenly;
    }
    .tab-links {
        font-family: 'Roboto Flex', sans-serif;
        word-spacing: 10px;
        letter-spacing: 2px;
        margin: 10px 10px;
        font-size: 16px;
    }
    .imgsetter {
        height: 100px;
        width: 100px;
    }
    .conbox{
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .project1{
        width: 100%;
    }
    .project-box{
        padding: 40px 10px;
    }
    .profsecond {
        margin: 10px 0px;
        padding: 10px;
    }


    .navbar{
        width: 110%;
    }
    .about{
        width: 110%;
        height: 100%;
    }
    .main-profle-section {
        background-image: none;
    }


}
 */


 .navbar{
    /* display: none; */
 }
.home{
    /* display: none; */
}
.about{
    /* display: none; */
}
.main-profle-section{
    /* display: none; */
}
.project-box{
    /* display: none ; */
}
.contact-box{
    /* display: none; */
}


